* {
    text-align: right;
}
body , html{
    height: 910px
}

#navbar_for_pc {
    background-color: #2f0c55;
    margin: 0;
    padding: 0;
    height: 41px;
    position: fixed;
    visibility: hidden;
    z-index: 10;
    transition: 0.5s;
}

.navbar_icon {
    margin-right: 20px;
    margin-bottom: 0;
    /*position: inherit;*/
    height: 41px;
    padding: 10px;
    color: white;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s;
}

.navbar_icon:hover {
    background-color: rgb(179, 242, 241);
    transition: 0.9s;

}

.navbar_button {
    margin-left: 20px;
    z-index: 10;
}

@media only screen and (min-width: 992px) {
    #navbar_for_pc {
        visibility: visible;
    }

    #navbar_for_mobile {
        visibility: hidden;
    }

    #menu {
        visibility: hidden;
    }

}

#navbar_for_mobile {
    background-color: #2f0c55;
    margin: 0;
    padding: 0;
    height: 41px;
    position: fixed;
    transition: 0.5s;
    z-index: 10;
}

#open_menu {
    margin: 10px;
    z-index: 10;
}

#menu_page {
    /*background-color: rgba(66, 135, 245,1);*/
    position: absolute;
    width: 100%;
    height: auto;
}

#menu {
    position: fixed;
    right: 3px;
    top: 41px;
    float: right;
    height: 45%;
    background-color: rgba(66, 135, 245, 0.9);
    width: 30%;
    padding: 5px;
    color: white;
    text-align: center;
    z-index: 10;
}

.menu_mobile:hover {
    background-color: rgba(66, 135, 245, 0.4);
    transform: scale(1.1, 1.1);

}
#top_wrapper{
    background-color: rgba(252, 195, 8,0.7);
    position: relative;
    top: 75%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 30px;

}
#top_wrapper_icon{
    position: relative;
    left: 40%;
    height: 35px;
    width: auto;
}
#main_text_wrapper{
    background-color: #2f0c55;
    margin: 0;
    padding: 0;
    position: relative;
    top: 74%;
}
@media only screen and (max-width: 685px) {
    #top_wrapper{
        top: 35%;
    }
    #services{
        top: 35%;
    }
    #main_text_wrapper{
        top:33%;
    }
}

.services{
    background-color: #fcc208;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    margin: 0;
    padding: 10px;
    transform: scale(0.9,0.9);
}

.services:hover{
    transform: scale(1,1);
    transition: all 0.5s;
}

#gallery{
    margin-top:10px;
    transform: scale(0.99,0.99);

}
.image_gallery{
    cursor: pointer;
    transition: 0.3s;
}
.my_modal{
    display: none;
    position: fixed;
    z-index: 110;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal_content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption1{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding:10px 0;
    height: 150px;
}
#caption1 , #caption2 ,#caption3 ,#caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding:10px 0;
    height: 150px;
}

.modal_content , #caption1,#caption2 ,#caption3 ,#caption3{
    animation-name: zoom ;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from{transform: scale(0)}
    to {transform:scale(1)}
}
.close0 ,.close1,.close2,.close3{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close0:hover,.close1:hover,.close2:hover,.close3:hover,
.close0:focus,.close1:focus,.close2:focus,.close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal_content {
        width: 100%;
    }
}